<!--
© 2025 Ilya Mateyko. All rights reserved.
Use of this source code is governed by the CC-BY-SA
license that can be found in the LICENSE.md file.
-->

<!-- vim: set ft=gotplhtml: -->
{{ define "index" }}
  <h1>Go Packages</h1>
  <p><a href="https://go.dev">Go</a> packages and tools that I wrote.</p>
  {{ range . }}
    {{ if not .Archived }}
      {{ if not .Private }}
        {{ if not .HasOnlyInternalPackages }}
          {{ template "repo" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  <details>
    <summary>No longer maintained</summary>
    {{ range . }}
      {{ if .Archived }}
        {{ if not .Private }}
          {{ if not .HasOnlyInternalPackages }}
            {{ template "repo" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </details>
{{ end }}
