<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#12161a" />
    <meta name="twitter:dnt" content="on" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="{{ url "/icons/36x36.webp" }}" />
    <link rel="apple-touch-icon" href="{{ url "/icons/180x180.webp" }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="{{ url "/feed.xml" }}"
    />
    <link rel="manifest" href="{{ url "/manifest.json" }}" />
    <link rel="stylesheet" href="{{ url "/style.css" }}" />
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ if not .ContentOnly }}
      <header>
        <h1>Ilya Mateyko</h1>
        <nav>
          <a href="/">Home</a>
          <a href="/watched">Watched</a>
        </nav>
      </header>
    {{ end }}
    <main>
      {{ if eq .Type "post" }}
        <h1>{{ .Title }}</h1>
        {{ if not .Date.IsZero }}
          <p class="meta">{{ formatDate "January 2, 2006" .Date }}</p>
        {{ end }}
      {{ end }}
      {{ content . }}
    </main>
    {{ if not .ContentOnly }}
      <footer>
        <a
          href="https://github.com/astrophena/astrophena.github.io/blob/master/{{ path . }}"
          >Edit this page</a
        >. The content for this website is
        <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>, the
        <a href="https://github.com/astrophena/astrophena.github.io">code</a> is
        <a href="https://opensource.org/licenses/MIT">MIT</a>.
      </footer>
    {{ end }}
  </body>
</html>
