<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#12161a" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    {{ if .Summary }}
    <meta name="description" content="{{ .Summary }}" />
    {{ end }}
    <link rel="icon" href="{{ url "/icons/36x36.webp" }}" />
    <link rel="apple-touch-icon" href="{{ url "/icons/180x180.webp" }}" />
    <link rel="alternate" type="application/atom+xml" href="{{ url "/feed.xml" }}" />
    <link rel="manifest" href="{{ url "/manifest.json" }}" />
    <link rel="stylesheet" href="{{ url "/style.css" }}" />
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ if not .ContentOnly }}
      <header>
        <h1>
          <img src="{{ url "/icons/180x180.webp" }}" alt="Avatar" class="avatar">
          {{ if eq .Permalink "/" }}
            Ilya Mateyko
          {{ else }}
            <a href="/">Ilya Mateyko</a>
          {{ end }}
        </h1>
        <nav>
          {{ navLink . "Blog" "blog" "/blog" }}
          {{ navLink . "Go Packages" "go-packages" "https://go.astrophena.name" }}
          {{ navLink . "Watched" "watched" "/watched" }}
        </nav>
      </header>
    {{ end }}
    <main>
      {{ if eq .Type "post" }}
        <h1>{{ .Title }}</h1>
        {{ if and .Date (not .Date.IsZero) }}
          <p class="meta"><em>Posted on {{ formatDate "January 2, 2006" .Date }}.</em></p>
        {{ end }}
      {{ end }}
      {{ content . }}
    </main>
    {{ if not .ContentOnly }}
      <footer>
          Built by <a href="https://github.com/astrophena/site/tree/{{ rev }}">site</a>
          <code><a href="https://github.com/astrophena/site/commit/{{ rev }}">{{ rev }}</a></code>.
          The content for this website is licensed under
          <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>, the code is
          <a href="https://opensource.org/licenses/ISC">ISC</a>
          licensed.
      </footer>
    {{ end }}
  </body>
</html>
