<!-- vim: set ft=gotplhtml: -->

{{ define "repo" }}
<h2>
  {{ importRoot }}/<a href="/{{ .Name }}">{{ .Name }}</a>
  <span class="module">Module</span>
</h2>
<p class="meta">
  {{ $repoURL := printf "https://github.com/%s/%s" .Owner.Login .Name }}
  <pre>
    <code>
      $ go get {{ importRoot }}/{{ .Name }}
    </code>
  </pre>
  <a href="https://pkg.go.dev/{{ importRoot }}/{{ .Name }}@master">pkg.go.dev</a> |
  <a href="{{ $repoURL }}">GitHub repository</a> |
  <a href="{{ $repoURL }}/commit/{{ .Commit }}">Commit ({{ .Commit }})</a>
</p>
<p>{{ .Description }}</p>
{{ end }}
