name: 'Test'
on:
  push:
    branches: ['master']
  pull_request:
jobs:
  test:
    name: 'Test'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Check out'
        uses: 'actions/checkout@v3'
      - name: 'Set up Go'
        uses: 'actions/setup-go@v3'
        with:
          go-version: '1.18'
      - name: 'Cache Go dependencies'
        uses: 'actions/cache@v3'
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: |
            ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: 'Set up Node.js'
        uses: 'actions/setup-node@v3'
        with:
          cache: 'npm'
      - name: 'Run tests and linters'
        run: 'script/test'
